@font-face {
  font-family: "iconfont"; /* Project id 4145671 */
  src: url('iconfont.woff2?t=1690340461504') format('woff2'),
       url('iconfont.woff?t=1690340461504') format('woff'),
       url('iconfont.ttf?t=1690340461504') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo-copy:before {
  content: "\ec7a";
}

.icon-sousuo:before {
  content: "\e72a";
}

.icon-xinhao:before {
  content: "\e600";
}

.icon-wuxiandianbo:before {
  content: "\ec79";
}

.icon-signal:before {
  content: "\e950";
}

